extends layout

block content
    div.bg-container 
        div.card
            h1.header Welcome to Image Gallery!
            h6 Please Login to continue
            a(href='/auth/google' class='btn btn-primary') Login with Google
                i.fa-brands.fa-google

